@import "tailwindcss";

:root {
  color-scheme: light only;
  --background: #ffffff;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
